<!DOCTYPE html>
<html lang="ru">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/plain; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Nappy?">
    <title>{% block title %}{% endblock %}</title>

    <link href="{{ url_for('static', filename='css/sb-admin-2.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='img/favicon.ico')}}" rel="shortcut icon" type="image/x-icon">
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>


<body class="vh-100">
    <div id="wrapper" class="vh-100">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark" id="accordionSidebar">
            <!-- Лого -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-pills"></i>
                </div>
                <div class="sidebar-brand-text mx-3">PAYMONA</div>
            </a>

            <hr class="sidebar-divider my-0">

            <!-- Показатели -->
            <li class="nav-item active">
                <a class="nav-link" href="/admin/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Показатели</span>
                </a>
            </li>

            <!-- Аптеки -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#pharmaciesCollapse" aria-expanded="true" aria-controls="pharmaciesCollapse">
                    <i class="fas fa-clinic-medical"></i>
                    <span>Аптеки</span>
                </a>
                <div id="pharmaciesCollapse" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/admin/pharmacies">Список аптек</a>
                        <a class="collapse-item" href="/admin/pharmacies/add">Добавить аптеку</a>
                        <a class="collapse-item" href="/admin/pharmacies/archive">Отключенные аптеки</a>
                    </div>
                </div>
            </li>

            <!-- Препараты -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/drugs">
                    <i class="fas fa-first-aid"></i>
                    <span>Препараты</span>
                </a>
            </li>

            <!-- Клиенты -->
            <li class="nav-item">
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#customersCollapse" aria-expanded="true" aria-controls="customersCollapse">
                    <i class="fas fa-clinic-medical"></i>
                    <span>Клиенты</span>
                </a>
                <div id="customersCollapse" class="collapse" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/admin/clients">Список клиентов</a>
                    </div>
                </div>
            </li>

            <!-- Закупы -->
            <li class="nav-item">
                <div class="dropdown">
                    <a class="nav-link dropdown-toggle1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-cart-plus"></i>    
                        <span>Закуп</span>
                    </a>

                    <ul class="dropdown-menu" id='dropdownAnimation' role="menu">
                        <div class="dropdown-header mb-1">Аптека</div>
                        <hr class="dropdown-divider">
                        {% for i in dropdownPharmacies %}
                        <li class="dropdown-submenu">
                            <a class="dropdown-item" href="/admin/purchase/show/{{i.id}}">{{i.name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>

            <!-- Отчеты -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/report/show">
                    <i class="fas fa-users"></i>
                    <span>Отчеты (ver 2.0)</span>
                </a>
            </li>

            <!-- Сотрудники -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/employees/show">
                    <i class="fas fa-users"></i>
                    <span>Сотрудники (ver 2.0)</span>
                </a>
            </li>

            <hr class="sidebar-divider d-none d-md-block">

            <!-- Аналитика (Не опцианально) -->
            <li class="nav-item">
                <a class="nav-link">
                    <span>Аналитика (ver 3.0)</span>
                </a>
            </li>
        </ul>

        <!-- ===================================================================================== -->

        <!-- Основная часть, где будет размещен контент -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- Шаблон nav-panel (ВЕРХУШКА) -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Скрыть/Показать nav-bar -->
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle" title="Скрыть/Показать боковую панель">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="topbar-divider d-sm-block"></div>
                    
                    <button class="btn btn-link rounded-circle" onclick="window.location.reload()" title="Обновить страницу">
                        <i class="fas fa-sync-alt text-success"></i>
                    </button>
                
                    <span id="dateToDay" style="margin-left: 45%;position: absolute;"></span>

                    <!-- Основные компоненты nav-panel -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle text-lg" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">19+</span>
                            </a>

                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header"> Alerts Center </h6>
                                
                                <a class="dropdown-item d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to
                                            download!</span>
                                    </div>
                                </a>

                                <a class="dropdown-item d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                
                                <a class="dropdown-item d-flex align-items-center">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>

                                <a class="dropdown-item text-center small text-gray-500">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Messages -->
                        <li class="nav-item dropdown no-arrow mx-1 text-lg">
                            <a class="nav-link dropdown-toggle" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">3</span>
                            </a>

                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header"> Message Center </h6>
                                
                                <a class="dropdown-item d-flex align-items-center">
                                    <div class="dropdown-list-image mr-3"> <!-- img -->
                                        <div class="status-indicator bg-success"></div>
                                    </div>

                                    <div class="font-weight-bold">
                                        <div class="text-truncate"> Hi there! I am wondering if you can help me with a problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>

                                <a class="dropdown-item d-flex align-items-center">
                                    <div class="dropdown-list-image mr-3">
                                        <div class="status-indicator"></div>
                                    </div>

                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>

                                <a class="dropdown-item d-flex align-items-center">
                                    <div class="dropdown-list-image mr-3">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>

                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>

                                <a class="dropdown-item d-flex align-items-center">
                                    <div class="dropdown-list-image mr-3">
                                        <div class="status-indicator bg-success"></div>
                                    </div>

                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because
                                            someone told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>

                                <a class="dropdown-item text-center small text-gray-500"> Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <h5 class="mr-2 d-none d-lg-inline text-gray-600">{{name}}</h5>
                                <img class="img-profile rounded-circle" src="{{ url_for('static', filename='img/undraw_profile.svg')}}">
                            </a>

                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Профиль
                                </a>
                                <a class="dropdown-item">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Настройки
                                </a>
                                <a class="dropdown-item">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Действия
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Выход
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <!-- Импортируемый код -->
                {% block content %}
                {% endblock %}

                
                <!-- Кнопка возвращение ползунка на самый верх # => приводит без id  к верху-->
                <a class="scroll-to-top rounded" href="#">
                    <i class="fas fa-angle-up"></i>
                </a>

                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Paymona 2021</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>


<!-- Modals -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Выход</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Вы действительно хотите выйти?
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Отмена</button>
                <a class="btn btn-primary" href="/admin/logout">Выход</a>
            </div>
        </div>
    </div>
</div>


<!-- MAIN FUNCTION ON ALL FILES -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/sb-admin-2.js')}}"></script>
<!-- <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js')}}"></script> -->
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js')}}"></script>



<!-- <script src="{{ url_for('static', filename='vendor/datatables/dataTables.buttons.js')}}"></script> -->
<!-- <script src="{{ url_for('static', filename='vendor/datatables/buttons.html5.js')}}"></script> -->
{% block script %}{% endblock %}
</html>